/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
#FF9F55 - orange
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn {
  text-decoration: none;
  background: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}


/* Header and Footer
-------------------------*/
header, footer {
  background: #2B2D42;
  color: #8D99AE;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2{
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    color: #2B2D42;
    background: #EDF2F4;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Navigation
-------------------------*/
nav {
  text-align: right;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /*background-color: #2B2D42;*/
  z-index: 100;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.active {
  background-color: #2B2D42;
  color: #EDF2F4;
}

nav a:first-child:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  background-image: url("../images/logo.jpg");
  background-size: contain;
  height: 45px;
  width: 45px;
  top: 5px;
  left: 40px;
}
/* Change the color of links on hover */
nav a:not(:first-child):hover {
    background-color: #8D99AE;
    color: #EDF2F4;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
    display: none;
}

/* Work Experience
-------------------------*/
.summary, .projects, .work {
  background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/* Projects
-------------------------*/
.flex-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.project {
    width: 30%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 10px 5px;
}

/* On mouse-over, add a deeper shadow */
.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.prj-container {
    padding: 2px 16px;
}
.project img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

/* Education
-------------------------*/
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
              url(../images/golden-gate-bridge.jpg) no-repeat fixed;
  background-size: cover;
}
p + h3 {
  margin-top: 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tl-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tl-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.tl-left {
  left: 0;
}

/* Place the container to the right */
.tl-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.tl-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.tl-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.tl-right::after {
  left: -13px;
}

/* The actual content */
.tl-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.school-logo {
    height: 50px;
    width: 50px;
}

/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    padding-top: 0;
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
  nav a:first-child:after {
    left: 45%;
  }
  nav a:not(:first-child) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
  nav.responsive {
    position: fixed;
    opacity: 0.8;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .project {
    width: 45%;
  }
  /* timeline */
  /* Place the timelime to the left */
  .timeline::after {
    left: 10px;
  }

/* Full-width containers */
  .tl-container {
    width: 100%;
    padding-left: 50px;
    padding-right: 5px;
  }

/* Make sure that all arrows are pointing leftwards */
  .tl-container::before {
    left: 40px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .tl-left::after, .tl-right::after {
    left: -2px;
  }

/* Make all right containers behave like the left ones */
  .tl-right {
    left: 0%;
  }
}
